<template name="dashboard">
    {{# if isInRole 'admin'}}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="well">
                                <h4 class="text-danger"><span class="label label-danger pull-right">- 9%</span><a href="allusers"><i class="fa fa-users" aria-hidden="true"></i></a>
                                    All Users</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="well">
                                <h4 class="text-success"><span class="label label-success pull-right">+ 3%</span><i class="fa fa-database" aria-hidden="true"></i>
                                     Database</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="well">
                                <h4 class="text-primary"><span class="label label-primary pull-right">201</span><i class="fa fa-user" aria-hidden="true"></i>
                                     Personal Info</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="well">
                                <h4 class="text-success"><span class="label label-success pull-right">+ 24%</span><i class="fa fa-plus-circle" aria-hidden="true"></i>
                                     New Project</h4>
                            </div>
                        </div>
                    </div><!--/row-->
                </div><!--/col-12-->
            </div><!--/row-->
        </div>
        {{/if}}
</template>